*.pyc
*.log
OpenNMT/data
*.params
*.out
*/nhid*
*/model_*
model_*
*/*/model_*
*/models*
*/*/models*
*/.ipynb_check*
__pycache__

tmp
tmp.*

# dataset
OI-dataset/assem*.txt
OI-dataset/fast*.txt

# models
models
*.pkl